<div class="child-emulated">
  <h3 class="child-emulated__header">child-encapsulation-emulated works!</h3>

  <div class="child-emulated__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non sagittis
      turpis. Donec ac nisl sed massa fermentum
      condimentum. Nam dapibus varius nulla quis vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et
      ultrices
      posuere cubilia curae; Curabitur id risus quis eros lacinia vestibulum et mollis sapien. Morbi tempus, ante eu
      ultricies finibus, erat neque venenatis tellus, quis sodales felis nunc tristique urna. Etiam a justo eros. Quisque
      tempus congue vestibulum. Nulla fringilla lacinia ex, nec tempor lectus bibendum non. Donec risus enim, mollis id
      suscipit at, pretium iaculis lectus. Maecenas eu nulla nulla. Sed semper auctor luctus. Nam sodales ultrices est,
      vel
      pulvinar mi aliquam et. Praesent nibh dui, rhoncus blandit mollis commodo, facilisis eget ipsum.
    </p>
  </div>
</div>
